.contents_row
  .container
    - if user_signed_in?
      %h3 トレーニングを記録する
      = form_with model: @record, local: true do |form|
        = form.text_field :kilos, placeholder: "キロ"
        - if @record.errors.include?(:kilos)
          %p.error-message
            = @record.errors.full_messages_for(:kilos).first
        = form.text_field :reps, placeholder: "セット"
        - if @record.errors.include?(:reps)
          %p.error-message
            = @record.errors.full_messages_for(:reps).first
        = form.submit "記録"
    - else
      = link_to new_user_registration_path do
        今日から１００キロ目指す！
      